{% extends 'user.html' %}

{% block content %}
    <h1>{% block title %}Add{% endblock %}</h1>
    <div style="width: 50%; margin: auto">
            <div style="padding: 10px; background-color: #EEE; margin: 20px">
                <form method="POST" style="width: 50%; margin: auto">
                      {% for key, val in result.items() %}
                          {% if key != 'ID' and key != 'User' %}
                              <br>
                              <input type="text" name="{{ key }}" placeholder="{{ key }}">
                              <br>
                          {% endif %}
                          {% if key == 'User' %}
                              <br>
                              <input type="text" name="{{ key }}" value="{{ val }}">
                              <br>
                        {% endif %}
                      {% endfor %}
                      <input type="submit">
                  </form>
            </div>
    </div>
{% endblock %}