{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}{% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        {% for dish in result %}
            <div style="padding: 10px; background-color: #EEE; margin: 20px">
                {% for name, val in dish.items() %}
                    {% if name != 'ID' %}
                        <p style="font-size: 22px">{{ name }} : {{ val }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}