{% extends 'category_dishes.html' %}

{% block content %}
    <h1>{% block title %}{% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        {% for dish in result %}
            {% if session['Type'] == 'Admin' %}
                <a class="nav-link" href="{{ url_for('admin_dish_edit', dish_id=dish['ID']) }}">Edit Dish</a>
                <form action="/admin/dishes/edit/{{ dish['ID'] }}/delete" method="post">
                    <button type="submit" name="ID" value="{{ dish['ID'] }}">Delete</button>
                </form>
            {% endif %}
            {% for key, value in dish.items() %}
                {% if key != 'ID' %}
                    <div style="padding: 10px; background-color: #EEE">
                        <p style="font-size: 22px">{{ key }} : {{ value }}</p>
                        {% if key == 'Photo' %}
                        <img src="{{url_for('static', filename=value)}}" style="padding-left: 20px;" />
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% if session['Type'] == 'User' %}
        <form method="post" action="/cart/add">
            <input type="hidden" name="dish" value="{{ dish['ID'] }}">
            <input type="hidden" name="order_id" value="1">
            <h5>Enter count of dishes:</h5>
            <input type="number" name="count" min="1" max="10" value="1">
            <input type="submit" >
        </form>
        {% endif %}
        {% endfor %}

    </div>
{% endblock %}